body {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #007991;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #78ffd6, #007991);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #78ffd6, #007991); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: 'Montserrat', sans-serif;
}

#app {
  width: 400px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: rgba(197, 239, 247, 0.3);
  color:white;
  border-radius: 5px;
}

input {
  cursor: pointer;
  color: white;
}

input[type="text"]{
  background: transparent;
  border: 0;
  outline: 0;
  padding: 5px;
  font-size: 1.3em;
  border-bottom: 0.5px solid rgba(255,255,255, 0.3);;
}
input[type="text"]::placeholder{
  color:white;
  font-size: 1.2em;
  opacity: 0.6;
}

#location-search {
  margin-top: 20px;
  margin-bottom: 20px;
}
#city-search {
  width: 90%;
  border-radius: 5px;
}

span {
  display: block;
}

#city {
  font-size: 1.5em;
  font-weight: bold;
}

#weather {
  z-index: 2;
}

ul {
  list-style-type: none;
  
}
ul, li {
  padding: 0;
}
  